In [1]:
import pandas as pd
import re

#### 1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [6]:
def is_vowel(string):
    '''
    returns a boolean value assessing if the passed string is a single vowel
    '''
    regex = r'^[aeiouAEIOU]$'
    if re.search(regex,string):
        print('It is a single vowel')
    else:
        print('It is NOT a single vowel')
    return

# you can also do string.lower() if you want them all lower case

In [7]:
is_vowel ('b')

It is NOT a single vowel

In [8]:
def is_vowel2 (string):
    '''
    Takes in a string  and use a regular expression to determine if the passed string is a vowel.
    '''
    regexp = r'^[aeiouAEIOU]$'
    return bool(re.search(regexp, string))

In [9]:
is_vowel2('A')

True

#### 2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

> is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
False
> is_valid_username('codeup')
True
> is_valid_username('Codeup')
False
> is_valid_username('codeup123')
True
> is_valid_username('1codeup')
False

In [10]:
#parts of a username:
#starts with a lowercase letter
#should only contains lowercase letters,numbers or _
#no longer than 32

In [11]:
def is_valid_username(word):
    '''
    Takes in a username and returns a boolean value assessing if the passed string fits the critera of a username:
    starts with a lowercase letter, 
    only consists of lowercase letters, numbers, or the _ character. 
    no longer than 32 characters. 
    
    '''
    regexp= r'^[a-z][a-z0-9-_]{1,32}$'
    if re.findall(regexp, word):
        return True
    else:
        return False

In [12]:
is_valid_username('1codeupfeneb')

False

In [13]:
is_valid_username('codeup123')

True

In [14]:
# OR

# def is_valid_username(some_string):
#     '''
#     returns a boolean value assessing if the passed string fits the critera of a username:
#     starts with a lowercase letter, 
#     only consists of lowercase letters, numbers, or the _ character. 
#     no longer than 32 characters. 
#     '''
#     regex = '^[a-z][a-z0-9_]{,31}$'
#     return bool(re.search(regex, some_string))

#### 3. Write a regular expression to capture phone numbers. It should match all of the following:
 - (210) 867 5309
 - +1 210.867.5309
 - 867-5309
 - 210-867-5309

In [15]:
# we have:
# potential region code ( '+' followed by a number)
# potential area code (three numbers, maybe wrapped in parenthesis)
# three numbers
# four numbers

In [16]:
df = pd.DataFrame()
df['number'] = [
    '(210) 867 5309'
    '+1 210.867.5309'
    '867-5390'
    '210-867-5309'
    '2108675309'
]

In [17]:
phone_regex = re.compile(
'''
^
(?P<country_code>\+\d+)?
\D*?
(?P<area_code>\d{3})?
\D*?
(?P<exchange_code>\d{3})
\D*?
(?P<line_number>\d{4})
\D*
$
''', re.VERBOSE)

In [18]:
df.number.str.extract(phone_regex)

  country_code area_code exchange_code line_number
0          NaN       NaN           NaN         NaN

In [19]:
pd.concat([df, df.number.str.extract(phone_regex)], axis=1)

,number,country_code,area_code,exchange_code,line_number
0,(210) 867 5309+1 210.867.5309867-5390210-867-5...,NaN,NaN,NaN,NaN

In [20]:
subject = '(210) 867 5309'
regexp = r'.*\d{,3}.*\d{3}.*\d{4}'

re.search(regexp, subject)

In [21]:
subject = '+1 210.867.5309'
regexp = r'.*\d{,3}.*\d{3}.*\d{4}'

re.search(regexp, subject)

In [22]:
subject = '867-5309'
regexp = r'.*\d{,3}.*\d{3}.*\d{4}'

re.search(regexp, subject)

In [23]:
subject = '210-867-5309'
regexp = r'.*\d{,3}.*\d{3}.*\d{4}'

re.search(regexp, subject)

#### 4. Use regular expressions to convert the dates below to the standardized year-month-day format.

- 02/04/19
- 02/05/19
- 02/06/19
- 02/07/19
- 02/08/19
- 02/09/19
- 02/10/19

In [24]:
date_list = [
    '02/04/19',
    '02/05/19',
    '02/06/19',
    '02/07/19',
    '02/08/19',
    '02/09/19',
    '02/10/19']

In [25]:
date_reg = r'(\d+)/(\d+)/(\d+)'
re.sub(date_reg, r'20\3-\1-\2', date_list[0])

'2019-02-04'

In [26]:
[re.sub(date_reg, r'20\3-\1-\2',date) for date in date_list]

['2019-02-04',
 '2019-02-05',
 '2019-02-06',
 '2019-02-07',
 '2019-02-08',
 '2019-02-09',
 '2019-02-10']

#### 5. Write a regex to extract the various parts of these logfile lines:
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [27]:
lines = """
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
"""

In [28]:
# parts:
# GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
# method GET
# path /api/v1/sales?page=86
# timestamp [16/Apr/2019:193452+0000]
# http version HTTP/1.1
# status code {200}
# bytes 510348
# user agent "python-requests/2.21.0"
# ip 97.105.19.58

In [29]:
regexp = r'''
^
(?P<method>GET|POST)
\s
(?P<path>/[/\w\-\?=]+)
\s
\[(?P<timestamp>.+)\]
\s
(?P<http_version>HTTP/\d+\.\d+)
\s
\{(?P<status_code>\d+)\}
\s
(?P<bytes>\d+)
\s
"(?P<user_agent>.+)"
\s
(?P<ip>\d+\.\d+\.\d+\.\d+)
$
'''

In [30]:
[re.search(regexp, line, re.VERBOSE).groupdict() for line in lines.strip().split('\n')]

[{'method': 'GET',
  'path': '/api/v1/sales?page=86',
  'timestamp': '16/Apr/2019:193452+0000',
  'http_version': 'HTTP/1.1',
  'status_code': '200',
  'bytes': '510348',
  'user_agent': 'python-requests/2.21.0',
  'ip': '97.105.19.58'},
 {'method': 'POST',
  'path': '/users_accounts/file-upload',
  'timestamp': '16/Apr/2019:193452+0000',
  'http_version': 'HTTP/1.1',
  'status_code': '201',
  'bytes': '42',
  'user_agent': 'User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36',
  'ip': '97.105.19.58'},
 {'method': 'GET',
  'path': '/api/v1/items?page=3',
  'timestamp': '16/Apr/2019:193453+0000',
  'http_version': 'HTTP/1.1',
  'status_code': '429',
  'bytes': '3561',
  'user_agent': 'python-requests/2.21.0',
  'ip': '97.105.19.58'}]

In [31]:
# method, endpoint, date, protocol, http_status_code, some_number, "user_agent", ip_address

regex = r'''
(?P<method>[A-Z]+)
\s
(?P<path>.*)
\s
\[(?P<timestamp>.*)\]
\s
HTTP/1.1
\s
{(?P<status>\d+)}
\s
(?P<bytes_sent>\d+)
\s
"(?P<user_agent>.*)"
\s+
(?P<ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})
'''

regex = re.compile(regex, re.VERBOSE)

df = pd.DataFrame()
df['line'] = lines.strip().split('\n')
df = pd.concat([df, df.line.str.extract(regex)], axis=1)
df

,line,method,path,timestamp,status,bytes_sent,user_agent,ip
0,GET /api/v1/sales?page=86 [16/Apr/2019:193452+...,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,200,510348,python-requests/2.21.0,97.105.19.58
1,POST /users_accounts/file-upload [16/Apr/2019:...,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET /api/v1/items?page=3 [16/Apr/2019:193453+0...,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,429,3561,python-requests/2.21.0,97.105.19.58